<app-header></app-header>
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2>Prestations</h2>
    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a *ngFor="let attribut of attributsProduces" [routerLink]="'/produit/'+attribut.id_product" class="group">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img src="/assets/images/products/{{attribut.image}}" class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <tr class="mt-4 text-sm text-gray-700" ></tr>
        <h3 class="mt-4 text-sm text-gray-700">{{attribut.name}} à {{attribut.price}} €</h3>
      </a>
    </div>
  </div>
</div>
