<div id="profile" class="w-full rounded shadow-2xl bg-white opacity-75 lg:mx-0">
  <div class="p-4 md:p-12 text-center lg:text-left">

    <h1 class="text-3xl font-bold pt-8 lg:pt-0">{{attributsUser.name}} {{attributsAdmin.firstname}}</h1>
    <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

    <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start"><svg class="h-4 fill-current text-green-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"/></svg>
      {{attributsUser.email}}
    </p>
    <p class="pt-8 text-sm">Changer de mot de passe :</p>

    <div class="flex flex-col w-3/12">
      <input class="border-ronded shadow mt-3" placeholder="Ancien mot de passe..." [(ngModel)]="password.old">
      <input class="border-ronded shadow mt-3" placeholder="Nouveau mot de passe..." [(ngModel)]="password.new">
      <p id="message"></p>
    </div>

    <div class="pt-12 pb-8">
      <button (click)="modifyPassword()" class="bg-green-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded-full">
        Modifier
      </button>
    </div>

  </div>
</div>
